@model LABS3.Models.Doctor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hospital.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospital.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>

@Html.ActionLink("Add Patient","AddNewPatient", new { id = Model.Id })

<ul>
    @foreach(var patient in Model.Patients) { 
        <li>
            @patient.Name | @Html.ActionLink("Delete Patient","DeletePatient", new { doctorId = Model.Id, patientId = patient.Id })
        </li>
    }
</ul>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
